<body>
    <div class="main-div">
        <div class="container">
            <p class="info">Name: Aum Sahayata</p>
            <p class="info">Mobile number: +91 1234567890</p>
            <p class="info">Address: D-404, xyz apartments, near Continental hotel, Ahmedabad, Gujarat</p>
            <p class="info">Pincode: 380000</p>
            <button type="button" id="edit">Edit Info</button>
            <button type="button" id="changePass">Change Password</button>
        </div>
    </div>
</body>
