<body>
    <div class="main-box">
        <div>
            <button routerLink="profile" id="profile"><img class="profile-img" src="../../assets/avatar_pic.png" alt="Profile"></button>
        </div>
        <div class="container">
            <div>
                <button routerLink="report" id="new_req"><img class="btn-img" src="../../assets/lightlamp.png" alt="New request">New streetlight request</button>
                <button routerLink="report" id="comp"><img class="btn-img" src="../../assets/unlitlamp.png" alt="Street ligh problem">Complaint regarding streetlights</button>
            </div>
            <div>
                <button routerLink="report" id="power_iss"><img class="btn-img" src="../../assets/noelectricity.png" alt="Powercut">Report powercut issues</button>
                <button routerLink="report" id="misuse"><img class="btn-img" src="../../assets/issue.png" alt="Electricity issue">Report misuse of electricity</button>    
            </div>
        </div>
        <div>
            <button routerLink="track" type="button" id="track">Track Status</button>
        </div>
    </div>
</body>